*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:#000;
}

header h1{
    color:#d4af37;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("https://images.unsplash.com/photo-1519741497674-611481863552?w=1800");

    background-size:cover;
    background-position:center;
}
}

.hero h2{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

button{
    padding:16px 45px;
    font-size:18px;
    background:#d4af37;
    color:black;
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;
    font-weight:bold;
}

button:hover{
    background:white;
    transform:scale(1.05);
}
